<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-6 content'>
      <h1>Edit Make</h1>

      <%= render 'form' %>
      <br>
      <%= link_to 'Back', makes_path, :class => "btn btn-small btn-success" %>

    </div>
  </div>
</div>
