<div class="container">
  <div class="page-header">
    <h1>Welcome to Target Solutions <small>-> Aim to win...</small></h1>
  </div>
<p>Quality components, equipment, accessories and gunsmithing for target and accuracy based scoped rifles.
</p>
  <p>Our main objective is building and rebarrelling target rifles - namely benchrest and F Class - but we also carry a large range of components and consumables for general sale. Please note we only offer gunsmithing services for WA customers - although we are happy to sell components outside of WA. Please keep in mind all licensable items must ship to a dealer or armourer. (barrels, actions etc)
</p>
<p>Due to the ever increasing difficulty of obtaining goods from the US (permits, shipping, clearance etc) we are no longer offering a custom ordering service or fixed prices for buy ins. We will try but cannot guarantee to hold estimated pricing and now require deposits for anything outside of our stock lines. We still bring in a wide range of components but will only list these once they have arrived and pricing is firm.
</p>
<p>Email is the preferred contact medium. Due to workload committments I only take calls or see visitors after 2:00pm WST. I am happy to make arrangements outside of this if necessary.
</p>
  <div class="well">
    <h3>Western Australian Licence Numbers</h3>
    <ul>
      <li>Dealer 9993772</li>
      <li>Repairer 9995342</li>
      <li>Manufacturer 9995101</li>
    </ul>
  </div>
  <img src="remington-rifle.jpg" alt="Remington Rifle Image">
</div>