<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h2>Editing Pre-Loved</h2>

      <%= render 'form' %>
      <%= link_to 'Show', @preloved %> |
      <%= link_to 'Back', preloveds_path %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
