<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">


      <h1>Editing Reloading</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @reloading %> |
      <%= link_to 'Back', reloadings_path %>

    </div>

    <div class="col-md-2"></div>

  </div>
</div>
